header{
    display: flex;
    background-color: #294936;
    color: #edae49;
    text-align: left;
    justify-content: center;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.burger{
    list-style: none;
    text-align: center;
    padding: 0;
    background-color: #294936;
    margin-top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    border-top: 1px solid #edae49;
}
.burger li:first-child{
    display: block;
}
.burger li {
    display: none;
}
.burger li:active{
    text-decoration: underline;
}
.burger a{
    color: #edae49;
    text-align: center;
    text-decoration: none;
}
.responsive li{
    display: block;
}
.burger li:hover{
    cursor: pointer;
    background-color: #4CB944;
}
#current-link{
    text-decoration: underline;
}
main{
    max-width: 960px;
    justify-items: center;
    margin: 0 auto;
}
p{
    background-color: #edae49;
    padding:5px;
}
p:nth-child(even){
    background-color: #4CB944;
}
@media only screen and (min-width: 520px) {
    .burger{
        display: flex;
    }
    .burger li:first-child{
        display: none;
    }
    .burger li{
        display: block;
        flex: 1 1 100%;
    }
    .burger li a{
        color: #edae49;
    }
}
@media only screen and (min-width: 920px) {
    .burger{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
    }
}